.FullScreenObject {
width: 100%;
height: 100%;
}
.ChatContainer {
background-color: darkorchid;
width: 100%;
height: 100%;
}
.MessagesContainer {
height: 70%;
}


.InputContainer {
height: 30%;
}

.MessagesContainer p {
font-family: 'Times New Roman', Times, serif;
border-style: solid;
border-width: 2px;
margin: 5px;
}

.MyMessage {
border-color: green;
text-align: right;
}

.OtherMyMessage {
border-color: red;
}

.MessageInput {
width: 75%;
}

.MessageButton {
width: 20%;
}

.errorMessage {
    color: red;
}